

body {
    width: 960px;
    margin: auto;
    background-image: url(../img/what-the-hex.png);
}

footer {
    background-color: #666666;
    color: #ffff;
    border-top: 4px solid #0fa372;
    width: 963px;
    position: fixed;
    text-align: center;
}

img {
    float: left;
    padding-right: 10px;
    padding-left: 5px;
}

#aboutMe {
    padding: 10px;
    text-align: left;
    border: 1px solid #6666;
    margin: 10px;
    height: 285px;
    background-color: whitesmoke;
}

.mainHeading {
    font-size: 20px;
    color: #0fa372;
}

p {
    font-size: 14px;
}

.container {
    padding: 10px;
    text-align: center;
    border: 1px solid #6666;
    margin: 10px;
    height: 355px;
    background-color: whitesmoke;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}